@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

select,input,textarea{
  border: 1px solid #c2c2c2;
  outline: #f4d4d7;
  border-radius: 4px;
}

.active{
  background-color: #e2f5fc;
  border-color: #f4d4d7;
}